<%- include('../../fragments/header.ejs') %>
    <main>
        <h2>Lista sztuk walki zawodnika</h2>

        <p>Brak rekorkow do wyswietlenia</p>

    </main>
<%- include('../../fragments/footer.ejs') %>