<%- include('../../fragments/header.ejs') %>
<main>
    <h2>Edycja zawodnika</h2>
    <form class="form">

        <label for="imie">Imie: <span class="symbol-required">*</span></label>
        <input type="text" name="imie" id="imie" required value="Jan"/>

        <span id="errorFirstName" class="errors-text"></span>

        <label for="nazwisko">Nazwisko: <span class="symbol-required">*</span></label>
        <input type="text" name="nazwisko" id="nazwisko" value="Kowalski" required/>

        <span id="errorLastName" class="errors-text"></span>

        <label for="email">Email: <span class="symbol-required">*</span></label>
        <input type="email" name="email" id="email" value="jan@op.pl" required/>

        <span id="errorEmail" class="errors-text"></span>

        <label for="dataUrodzenia">Data urodzenia: <span class="symbol-required">*</span></label>
        <input type="date" name="dataUrodzenia" id="dataUrodzenia" value="1990-09-22" required/>

        <span id="errorDataUrodzenia" class="errors-text"></span>

        <label for="adres">Adres: *</label>
        <input type="text" name="adres" id="adres" value="Warszawa" required/>

        <span id="errorAdres" class="errors-text"></span>
        <div class="form-buttons">
            <input type="submit" value="submit" class="form-button-submit"/>
            <a href="../../pages/zawodnicy/list.html" class="form-button-cancel">Anuluj</a>

        </div>

    </form>
    <p></p>
</main>
<%- include('../../fragments/footer.ejs') %>

