<%- include('../../fragments/header.ejs') %>
    <main>
        <h2>Lista zawodnikow</h2>
     
        <p>Brak rekorkow do wyswietlenia</p>
        <p><a href="form.ejs">Dodaj nowego pracownika</a></p>

    </main>
<%- include('../../fragments/footer.ejs') %>

